@import 'tailwindcss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: #ffffff;
		--foreground: #1a1a1a;
		--primary: var(--color-sky-600);
		--primary-foreground: var(--color-white);
		--secondary: #f5faff;
		--secondary-foreground: #1c1c1c;
		--accent: #f5faff;
		--accent-foreground: #1c1c1c;
		--destructive: #d93636;
		--destructive-foreground: #faffff;
		--border: #d9e3f0;
		--input: #d9e3f0;
		--ring: #1c1c1c;
	}
}

.dark {
	--background: #1a1a1a;
	--foreground: #faffff;
	--card: #1a1a1a;
	--card-foreground: #faffff;
	--popover: #1a1a1a;
	--popover-foreground: #faffff;
	--primary: #1e90ff;
	--primary-foreground: #1c1c1c;
	--secondary: #2b2b2b;
	--secondary-foreground: #faffff;
	--accent: #2b2b2b;
	--accent-foreground: #faffff;
	--destructive: #a51f1f;
	--destructive-foreground: #faffff;
	--border: #2b2b2b;
	--input: #2b2b2b;
	--ring: #3a3a3a;
}

html,
body {
	overscroll-behavior: unset;
	background-color: black;
	overscroll-behavior: none;
}

#root {
	display: flex;
	flex-direction: column;
}

a {
	color: lightblue;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
@keyframes networkMove {
	0% {
		transform: scale(1) rotate(0deg);
	}
	25% {
		transform: scale(0.95) rotate(8deg);
	}
	50% {
		transform: scale(1.3) rotate(-3deg);
	}
	75% {
		transform: scale(0.98) rotate(4deg);
	}
	100% {
		transform: scale(1) rotate(0deg);
	}
}

.animate-network {
	transform-origin: 90px 90px;
	animation: networkMove 4s ease-in-out infinite;
}
